@media screen and (max-width: 1272px) {
    .body-container {
        height: 757px;
    }
    .body-right {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }
    .li-links-right {
        width: auto;
    }
    .body-right li {
        display: inline-block;
    }
    .sidebar-title-longer {
        width: 105%;
    }
}

@media screen and (max-width: 1035px) {
    .body-container .container {
        padding: 0 1%;
    }
    .footer-container .container {
        padding: 2% 5%;
    }
}

@media screen and (max-width: 991px) {
    .header-container {
        padding: 1% 1% 1% 1%;
    }
    .secondary-header {
        padding: 0 0 0 1%;
    }
    .container {
        padding: 1% 0;
    }
}

@media screen and (max-width: 827px) {
    .main-body {
        padding: 0;
    }
}

@media screen and (max-width: 779px) {
    .header-container {
        padding: 1% 15% 1% 5%;
    }
    .header-left-wrapper {
        float: none;
    }
    .header-right-wrapper {
        float: none;
        text-align: left;
    }
    .main-logo {
        float: none;
    }
    .secondary-header {
        padding: 0 15% 0 5%;
    }
    .nav-items,
    .right-links {
        float: none;
    }
    .right-links {
        margin: 1px 0 0 0;
        padding-left: 1%;
    }
    .nav-items li {
        padding: 0 2% 0 0.5%;
    }
    .body-container {
        height: 786px;
    }
    .left-sidebar {
        display: none;
    }
    .body-container .container {
        padding: 0%;
    }
    .footer-container .container {
        padding: 0%;
    }
    .body-left {
        float: none;
        padding-left: 2px;
    }
    .main-body {
        padding: 0 14%;
        float: none;
    }
    .sidebar-title-longer {
        width: 105%;
    }
    #members {
        display: block;
    }
    .footer-container .container div {
        padding: 10px 10px;
    }
    .searches {
        display: block;
    }
    .searches button {
        background: transparent;
        background-color: #4ac1d9;
        border: none;
        color: #fff;
        font-size: 18px;
        width: 100%;
        height: 100%;
        margin-top: 2px;
        padding: 2px 0;
    }
}

@media screen and (max-width: 770px) {
    .header-container {
        padding: 1% 4% 1% 2%;
    }
    .secondary-header {
        padding: 0 0 0 2%;
    }
    .left-sidebar {
        display: none;
    }
    .main-body {
        float: left;
    }
    .body-right {
        display: inline-block;
        padding-right: 29px;
    }
    .sidebar-title-longer {
        width: 116%;
    }
    .searches {
        display: block;
    }
    .searches button {
        background: transparent;
        background-color: #4ac1d9;
        border: none;
        color: #fff;
        font-size: 18px;
        width: 100%;
        height: 100%;
        margin-top: 2px;
        padding: 2px 0;
    }
    .footer-container .container div {
        padding: 10px 10px;
    }
    .video {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .body-right {
        display: none;
    }
    .recent-searches {
        display: inline-block;
        background-color: #4ac1d9;
        margin: 2px;
        text-align: center;
        border: 1px black;
    }
    .recent-searches button {
        background: transparent;
        border: none;
        color: #fff;
        font-size: 18px;
        width: 100%;
        height: 100%;
        margin-top: 2px;
        padding: 2px 0;
    }
    .footer-container>.container>.right {
        padding-right: 12%;
    }
}


/* Tablet */

@media screen and (max-width: 560px) {
    .main-upper-tabs {
        display: none;
    }
    .all-entries {
        display: block;
    }
    .footer-container .container div {
        padding-right: 68px;
    }
}

@media screen and (max-width: 479px) {
    .header-container {
        padding: 1% 2% 1% 10%;
    }
    .header-left-wrapper {
        float: none;
    }
    .main-logo {
        margin-left: 20%;
    }
    .search-container {
        float: none;
        margin-left: 13%;
    }
    .search-input {
        left: 0px;
    }
    .search-container button {
        margin-left: 30%;
    }
    .header-right-wrapper {
        float: none;
        margin-right: 0%;
        text-align: left;
        padding-top: 1%;
    }
    .account-name {
        color: black;
        font-size: .8rem;
        margin-left: 40%;
    }
    .header-right-wrapper li {
        padding: 0 6%;
    }
    .secondary-header {
        padding: 0;
    }
    .nav-items {
        float: none;
    }
    .nav-items li {
        padding: 0 3%;
    }
    .right-links {
        float: none;
        padding: 0 11%;
        margin-right: 0;
    }
    .left-sidebar {
        display: none;
        float: none;
    }
    .body-right {
        display: none;
    }
    .recent-searches {
        display: block;
        margin: 2px;
        text-align: center;
    }
    .recent-searches button {
        background: transparent;
        background-color: #4ac1d9;
        border: none;
        color: #fff;
        font-size: 18px;
        width: 100%;
        height: 100%;
        margin-top: 2px;
        padding: 2px 0;
    }
    .container {
        padding: 18px 0;
    }
    .body-container {
        height: 80%;
    }
    .body-left {
        float: none;
        padding-left: 2px;
    }
    .main-body {
        float: none;
        padding: 8%;
    }
    .main-upper-tabs {
        display: none;
    }
    .img-wrapper {
        padding: 5px;
    }
    .entries-container {
        height: 25%;
    }
    .entries-container-text {
        display: block;
    }
    .entry-title {
        height: 1%;
    }
    .footer-container {
        height: 1%;
        padding-left: 10%;
    }
    .footer-container .right,
    .footer-container .left {
        float: none;
        margin-right: 1%;
        margin-left: 1%;
        max-width: 99%;
    }
}

@media screen and (max-width: 454px) {
    .hamburger {
        display: inline-block;
        padding: 0px 8%;
    }
    .hamburger img {
        max-width: 70%;
    }
    .header-wrapper {
        background-color: #7dd9e8;
    }
    .header-left-wrapper {
        padding-bottom: 5px;
    }
    .header-right-wrapper {
        display: none;
    }
    .secondary-header {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .header-right-wrapper li {
        padding: 0 5%;
    }
}

@media screen and (max-width: 412px) {
    .search-container {
        display: none;
    }
}