.header_container {
    margin-top: 20px;
    position: relative;
}

.header-wrapper {
    max-width: 1226px;
    margin: 20px auto 0 auto;
}

.header-lower {
    max-width: 1226px;
    margin: 20px auto 0 auto;
}

.outer-container {
    max-width: 1440px;
    margin: 0 auto;
}

#wave {
    display: none;
}

.small-text {
    margin-top: 10px;
    font-family: 'Source  Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0a225f;
}

.more-line-height {
    line-height: 20px;
}

.bolder-text {
    font-family: 'Source  Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0a225f;
}

.big-text {
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    color: #0a225f;
    font-family: 'Source  Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source  Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    color: #0a225f;
}

h4 {
    font-family: 'Source  Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: #0a225f;
    text-shadow: 0px 4px 4px;
}

h1 {
    font-family: 'Source  Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 62px;
    color: #0a225f;
}

.hamburger {
    float: left;
    width: 40px;
    margin: 0 auto;
}

.line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 5px 10px;
}

#main-logo {
    width: 124px;
    margin: 0 auto;
}

#sign-in {
    font-family: 'Source  Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2A84C6;
    background-color: #fff;
    border: none;
}

.right-buttons {
    width: 200px;
    margin: 0 auto;
}

.right-buttons button {
    width: 93px;
    height: 36px;
    border-radius: 4px;
    margin: 10px auto;
}

#sign-in:hover {
    color: #fff;
    background-color: #1442ba;
}

#sign-up {
    font-family: 'Source  Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #1442ba;
    border: none;
}

.nav {
    display: none;
}

.header-figures {
    display: none;
}

.text-box {
    width: 95%;
    margin: 0 auto;
    background-image: url(../images/Point-line\ triangle\ cube.svg), url(../images/Point-line\ triangle\ cube\ smaller.svg);
    background-repeat: no-repeat;
    background-position: center, top center;
    padding-bottom: 5px;
    border-bottom: 2px solid #e6f9d3;
}

.triangle-figure-big,
.triangle-figure-right,
.triangle-figure-small,
.triangle-figure-left {
    display: none;
}

.two-buttons button {
    border: none;
    margin: 10px auto;
}

.button-1 {
    margin-left: 1%;
}

.take-a-trip {
    background-color: #fff;
}

#line {
    margin: 0 5px;
    display: none;
}

.get-started {
    margin-top: 10px;
    background-color: #1342bb;
    text-align: center;
    color: #fff;
    width: 181px;
    height: 56px;
    border-radius: 8px;
    padding: 8px, 24px, 8px, 24px;
    font-size: 20px;
    font-weight: 600;
}

#right-arrow {
    position: relative;
    width: 20px;
    height: 20px;
    top: 1px;
}

.body-wrapper {
    width: 94%;
    margin: 0 auto;
}

.footer_container {
    background-color: #0d2c7b;
    color: #fff;
}

.figures {
    width: 288px;
    height: 344px;
    margin: 0 auto;
}

.figures img {
    padding-left: 20%;
}

.fig-text {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}

.fig-text .small-text {
    width: 98%;
}

.list-text {
    line-height: 32px;
}

.step-image {
    float: left;
    margin-right: 1%;
}

.features {
    width: auto;
    margin: 0 auto;
}

.features-title {
    margin-bottom: 36px;
}

.steps li {
    margin-bottom: 48px;
}

.feature-grid {
    width: 60%;
    margin: 0 auto;
}

.box-rounded {
    border-radius: 16px;
    background-color: #fafcfe;
    margin: 10px auto;
    width: fit-content;
}

.box-rounded:hover {
    background-color: rgba(233, 227, 227, 0.445);
}

.box-rounded img {
    padding-left: 5%;
    width: 100%;
    margin: 0 auto;
}

.more {
    padding: 10px 5px;
    max-width: 148px;
    margin: auto;
}

.buttons-bottom {
    margin: 10px auto;
}

.buttons-bottom button {
    margin: 10px auto;
    border: 2px solid #94c1e2;
    border-radius: 8px;
    width: 183px;
    height: 56px;
    padding: 8px, 24px, 8px, 24px;
    font-family: 'Source  Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.phone-image {
    display: none;
}

.right-side-img {
    display: none;
}

#apple {
    color: #2a84c6;
    background-color: #fff;
}

#google {
    background-color: #1342bb;
    ;
    color: #fff;
    border: none;
}

#apple:hover {
    background-color: #1342bb;
    color: #fff;
    border: none;
}

.support-text {
    font-size: 14px;
}

#sign-up-now {
    margin: 10px auto;
    width: 183px;
    height: 56px;
    border-radius: 4px;
    padding: 8px, 24px, 8px, 24px;
    color: #fff;
    border: none;
    background-color: #1342bb;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

#no-bottom-border {
    border-bottom: 0px;
}

.footer_container {
    color: #fff;
}

.footer-text .left-lists a {
    color: #fff;
}

.inline {
    display: inline-block;
    margin: 10px 10px;
}

#sign-up-button {
    width: 184px;
    height: 36px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    border: none;
    color: #154263;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    font-family: 'Source  Sans Pro', sans-serif;
    font-size: 14px;
}

.footer-text div {
    padding: 10px 1px;
}

.footer-text ul li {
    font-size: 16px;
    line-height: 24px;
}

.footer-text ul li:first-child {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.right-side-figure {
    display: none;
}