@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

a:visited,
a:link,
a:active {
    text-decoration: none;
    color: #2e2e2e;
}

body {
    font-family: Mulish;
}