#wrapper {
    margin: 0 auto;
}

canvas {
    display: block;
    border: 2px solid black;
    box-sizing: border-box;
}

#info {
    float: left;
    width: 130px;
    margin-left: 10px;
}